*{
    margin:0;
}

body{
     background: linear-gradient(#FFFFFF,#ffe6e6,#A9A9A9);
}


/* Mycode */


h1{
  font-family: 'Julius Sans One', sans-serif;
  
  margin-bottom: .5vw;
}
   
hr{
position: relative;
width: 100%;

margin-right: 20%;
color: gray;
margin-bottom: .2em;
}

Button{

  font-family: 'Julius Sans One', sans-serif;
}

#first{
  margin-right:2.2vh ;
  float: left;
  width: 40%;
  display:block;
}

#last{
  float: left;
  width: 40%;
  display: block;
}

.details{
  
  border-radius: 2px;
  height:5%;
  margin-top: 3vh;
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 15px;
  border: 0.8px solid lightgray;
  padding: 1.5vh;
  background:  rgb(248, 242, 242);
  width: 92%;

}

/* border-bottom: 2px solid #ff8080; */
/* background: transparent; */
